@font-face {
	font-family: 'fontello';
	src: url('./font/fontello.eot?77234973');
	src: url('./font/fontello.eot?77234973#iefix') format('embedded-opentype'),
		url('./font/fontello.woff?77234973') format('woff'),
		url('./font/fontello.ttf?77234973') format('truetype'),
		url('./font/fontello.svg?77234973#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: Helvetica, Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",ZawgyiOne, Osaka, "メイリオ", Meiryo, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "標楷體", DFKai-SB, sans-serif;
	font-size: 16px;
	background-image: url('/assets/img/bg.jpg');
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
    background-attachment: fixed;
}

.top-banner {
    text-shadow: 0 0 3px black;
    padding: 220px 150px;
    color: white;
}

.top-banner h1 {
    font-size: 6em;
    font-weight: bold;
    margin-bottom: 50px;
}

.top-banner h3 {
    line-height: 1.5em;
    font-size: 1.2em;
    font-weight: bold;
}

.content {
    font-size: 1.2em;
    font-weight: bold;
    padding: 60px 50px;
    /* background-color: rgba(255, 255, 255, 0.6); */
    background-color: white;
}

.content p.title {
    font-size: 1.4em;
    margin-bottom: 20px;
}

.content p.info {
    width: 60%;
    margin: 0 auto;
}

.footer {
    margin-top: 40px;
    margin-bottom: 20px;
    color: #ffffff;
}

.footer h4 {
    font-size:0.9em;
}

@media screen and (max-width : 991px) {
    .top-banner {
        padding: 10px 30px;
        padding-top:40px;
    }

    .top-banner h1 {
        font-size: 3.3em;
        margin-bottom: 50px;
    }

    .top-banner h3 {
        font-size: 0.8em;
        text-align:left;
    }
    
    .row {
        margin: 0 auto;
        margin-bottom: 50px;
        width: 95%;
    }

    .content p.info {
        width: 100%;
    }
}

@media screen and (max-width : 768px) {
}

@media screen and (max-width : 568px) {
}






















